Repository JacopoWolf/PotatoChatProtocol, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JacopoWolf, @gfurri20, @Alessio789

Update project model canvas
  docs/img/Project_Model_Canvas_editable.docx
Owners: @Alessio789

Completed project model canvas
  docs/img/Project_Model_Canvas_editable.docx
Owners: @Alessio789

Update business model canvas, converted the two models to PDF
  docs/img/Project_Model_Canvas.pdf
  docs/img/Project_Model_Canvas_editable.docx
  docs/img/business_model_canvas.pdf
  docs/img/business_model_canvas_editable.docx
Owners: @Alessio789

Update spmp.md
  docs/process/spmp.md
Owners: @JacopoWolf

update index.md & added empty coding standards
  docs/index.md
  docs/product/codingstandards.md
  docs/product/index.md
Owners: @JacopoWolf

Update codingstandards.md
  docs/product/codingstandards.md
Owners: @JacopoWolf

updated cute badges
  README.md
  docs/index.md
Owners: @JacopoWolf, @gfurri20, @Alessio789

Create project success criteria document
  docs/process/projectsuccesscriteria.md
Owners: @JacopoWolf

Update project success criteria
  docs/process/projectsuccesscriteria.md
Owners: @JacopoWolf

Update srs.md
  docs/process/srs.md
Owners: @gfurri20

Fixed some md bugs
  README.md
  docs/PCP-Min.md
  docs/process/index.md
  docs/process/projectsuccesscriteria.md
  docs/process/spmp.md
  docs/process/srs.md
  docs/process/visionstatement.md
  docs/product/codingstandards.md
  docs/product/usageguide.md
Owners: @JacopoWolf, @gfurri20, @Alessio789

Synchronization with mirror (#101)
  mkdocs.yml
Owners: @JacopoWolf, @gfurri20, @Alessio789

Delete _config.yml
  docs/_config.yml
Owners: @JacopoWolf

Update mkdocs.yml
  mkdocs.yml
Owners: @JacopoWolf, @gfurri20, @Alessio789

fixed more documentation problems
  README.md
  docs/PCP.md
  docs/index.md
  docs/process/index.md
  docs/process/spmp.md
  docs/process/srs.md
  docs/process/visionstatement.md
  docs/product/architecture.md
  docs/product/codingstandards.md
  docs/product/index.md
  docs/product/usageguide.md
Owners: @JacopoWolf, @gfurri20, @Alessio789

fixed badge
  README.md
  docs/index.md
Owners: @JacopoWolf, @gfurri20, @Alessio789

last rea the docs fix
  docs/PCP.md
  docs/product/architecture.md
  docs/product/codingstandards.md
Owners: @JacopoWolf

Update PCP.md
  docs/PCP.md
Owners: @JacopoWolf

Update srs.md
  docs/process/srs.md
Owners: @gfurri20

Added empty documents
  docs/process/closurereport.md
  docs/process/memoofunderstanding.md
  docs/process/releaseplan.md
  docs/process/statusreport.md
  docs/product/systemdocumentation.md
  docs/product/testingspecifications.md
Owners: @JacopoWolf

Update PCP.md
  docs/PCP.md
Owners: @JacopoWolf

Update srs.md
  docs/process/srs.md
Owners: @gfurri20

Update closurereport.md
  docs/img/effortchart.svg
  docs/process/closurereport.md
  docs/process/spmp.md
Owners: @JacopoWolf

Updated closurereport and .gitignore
  .gitignore
  docs/process/closurereport.md
Owners: @JacopoWolf, @gfurri20, @Alessio789

Update mkdocs.yml
  mkdocs.yml
Owners: @JacopoWolf, @gfurri20, @Alessio789

Update mkdocs.yml
  mkdocs.yml
Owners: @JacopoWolf, @gfurri20, @Alessio789

Fixed visual bug in closurereport
  docs/process/closurereport.md
Owners: @JacopoWolf

Update README.md
  README.md
Owners: @JacopoWolf, @gfurri20, @Alessio789

Fixed readthedocs documentation
  docs/index.md
  mkdocs.yml
Owners: @JacopoWolf, @gfurri20, @Alessio789

Docs sprint2 - system documentation (#107)
  docs/product/systemdocumentation.md
Owners: @JacopoWolf

Update systemdocumentation.md
  docs/product/systemdocumentation.md
Owners: @JacopoWolf

Added releaseplan.md (#109)
  docs/process/releaseplan.md
Owners: @JacopoWolf

Update README.md
  README.md
Owners: @JacopoWolf, @gfurri20, @Alessio789

Testing specifications (#106)
  docs/product/testingspecifications.md
Owners: @JacopoWolf

changed ReadTheDocs theme
  mkdocs.yml
Owners: @JacopoWolf, @gfurri20, @Alessio789

Completed memoofunderstanding.md (#111)
  docs/process/memoofunderstanding.md
Owners: @JacopoWolf

Update mkdocs.yml
  mkdocs.yml
Owners: @JacopoWolf, @gfurri20, @Alessio789

Update mkdocs.yml
  mkdocs.yml
Owners: @JacopoWolf, @gfurri20, @Alessio789

Added statusreport.md (#112)
  docs/process/statusreport.md
Owners: @JacopoWolf

Update mkdocs.yml
  mkdocs.yml
Owners: @JacopoWolf, @gfurri20, @Alessio789

.github/CODEOWNERS:

# default owners
*                         @JacopoWolf @gfurri20 @Alessio789

# documentation owners
/docs/                    @JacopoWolf
/docs/img/                @JacopoWolf
/docs/process/srs.md      @gfurri20
/docs/img/*.docx          @Alessio789
/docs/img/*.pdf          @Alessio789


# code owners
**/PCP/Min/data/             @gfurri20 @Alessio789


# default test owners
/PCP/src/test/            @gfurri20 @Alessio789
