Repository JacopoWolf/PotatoChatProtocol, pull requests merged in 2019-11, with the labels that each got.

#15 Docs improvment
  README.md
  docs/PCP-Min.md
  docs/README.md
Labels: documentation, enhancement

#16 feature-Min-packets
  PCP/pom.xml
  PCP/src/main/java/PCP/OpCode.java
  PCP/src/main/java/PCP/PCP.java
  PCP/src/main/java/PCP/errors/ErrorCode.java
  PCP/src/main/java/PCP/packets/IPCPpacket.java
  PCP/src/main/java/PCP/packets/PCPAliasChangePacket.java
  PCP/src/main/java/PCP/packets/PCPDisconnectionPacket.java
  PCP/src/main/java/PCP/packets/PCPErrorPacket.java
  PCP/src/main/java/PCP/packets/PCPGroupUserListRrqPacket.java
  PCP/src/main/java/PCP/packets/PCPGroupUsersListPacket.java
  PCP/src/main/java/PCP/packets/PCPMessage.java
  PCP/src/main/java/PCP/packets/PCPMsgRecievedPacket.java
  PCP/src/main/java/PCP/packets/PCPMsgUserToGroupPacket.java
  PCP/src/main/java/PCP/packets/PCPMsgUserToUserPacket.java
  PCP/src/main/java/PCP/packets/PCPRegHackPacket.java
  PCP/src/main/java/PCP/packets/PCPRegistrationPacket.java
  PCP/src/main/java/PCP/packets/PCPVariablePayload.java
  PCP/src/test/java/PCP/packets/PCPGroupUsersList_Test.java
  PCP/src/test/java/PCP/packets/PCPMsgUserToGroupPacket_Test.java
  PCP/src/test/java/PCP/packets/PCPMsgUserToUserPacket_Test.java
Labels: PCP-Min, api

#20 Docs enanchment for releases
  .gitignore
  README.md
  docs/README.md
Labels: documentation

#23 Total code refractor
  PCP/src/main/java/PCP/IPCPdata.java
  PCP/src/main/java/PCP/IPCPparser.java
  PCP/src/main/java/PCP/Min/data/AliasChange.java
  PCP/src/main/java/PCP/Min/data/Disconnection.java
  PCP/src/main/java/PCP/Min/data/ErrorMsg.java
  PCP/src/main/java/PCP/Min/data/GroupUserListRrq.java
  PCP/src/main/java/PCP/Min/data/GroupUsersList.java
  PCP/src/main/java/PCP/Min/data/MsgRecieved.java
  PCP/src/main/java/PCP/Min/data/MsgUserToGroup.java
  PCP/src/main/java/PCP/Min/data/MsgUserToUser.java
  PCP/src/main/java/PCP/Min/data/Registration.java
  PCP/src/main/java/PCP/Min/data/RegistrationHack.java
  PCP/src/main/java/PCP/PCP.java
  PCP/src/main/java/PCP/PCPException.java
  PCP/src/main/java/PCP/PCPMessage.java
  PCP/src/main/java/PCP/PCPVariablePayload.java
  PCP/src/main/java/PCP/errors/ErrorCode.java
  PCP/src/main/java/PCP/errors/PCPException.java
  PCP/src/main/java/PCP/services/server/PCPServer.java
  PCP/src/test/java/PCP/packets/PCPGroupUsersList_Test.java
  PCP/src/test/java/PCP/packets/PCPMsgUserToGroupPacket_Test.java
  PCP/src/test/java/PCP/packets/PCPMsgUserToUserPacket_Test.java
Labels: PCP-Min, api

#29 Feature min socket
  PCP/src/main/java/PCP/net/PCPSocket.java
Labels: PCP-Min, api, development, server

#33 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question--usage.md
  .github/ISSUE_TEMPLATE/question.md
Labels: documentation, enhancement

#38 Asyncronous re-implementation
  PCP/src/main/java/PCP/Min/data/AliasChange.java
  PCP/src/main/java/PCP/Min/data/Disconnection.java
  PCP/src/main/java/PCP/Min/data/ErrorMsg.java
  PCP/src/main/java/PCP/Min/data/GroupUserListRrq.java
  PCP/src/main/java/PCP/Min/data/Registration.java
  PCP/src/main/java/PCP/Min/data/RegistrationHack.java
  PCP/src/main/java/PCP/Min/logic/PCPMinInterpreter.java
  PCP/src/main/java/PCP/Min/logic/PCPMinLogicCore.java
  PCP/src/main/java/PCP/Min/logic/PCPMinUserInfo.java
  PCP/src/main/java/PCP/PCP.java
  PCP/src/main/java/PCP/data/IPCPData.java
  PCP/src/main/java/PCP/data/PCPVariablePayload.java
  PCP/src/main/java/PCP/logic/IMemoryAccess.java
  PCP/src/main/java/PCP/logic/IPCPCore.java
  PCP/src/main/java/PCP/logic/IPCPInterpreter.java
  PCP/src/main/java/PCP/logic/IPCPLogicCore.java
  PCP/src/main/java/PCP/logic/IPCPUserInfo.java
  PCP/src/main/java/PCP/net/IPCPChannel.java
  PCP/src/main/java/PCP/net/IPCPManager.java
  PCP/src/main/java/PCP/net/IPCPSocket.java
  PCP/src/main/java/PCP/net/PCPChannel.java
  PCP/src/main/java/PCP/net/PCPManager.java
  PCP/src/main/java/PCP/net/PCPSocket.java
  PCP/src/main/java/PCP/services/IPCPServer.java
  PCP/src/main/java/PCP/services/PCPServer.java
  PCP/src/test/java/PCP/net/PCPManager_Test.java
  PCP/src/test/java/PCP/net/ServerChannels_Test.java
  PCP/src/test/java/PCP/net/ServerTest.java
Labels: PCP-Min, api, server

#40 Merge current interpreter status for quick release
  .gitignore
  PCP/src/main/java/PCP/Min/data/AliasChange.java
  PCP/src/main/java/PCP/Min/logic/PCPMinInterpreter.java
  PCP/src/main/java/PCP/OpCode.java
  PCP/src/main/java/PCP/logic/IPCPInterpreter.java
  PCP/src/test/java/PCP/logic/PCPMinInterpreter_Test.java
Labels: PCP-Min, api, release, server

#44 Implemented network-to-logic levels
  .gitignore
  PCP/pom.xml
  PCP/src/main/java/PCP/Min/data/AliasChange.java
  PCP/src/main/java/PCP/Min/data/Disconnection.java
  PCP/src/main/java/PCP/Min/data/ErrorMsg.java
  PCP/src/main/java/PCP/Min/data/GroupUserListRrq.java
  PCP/src/main/java/PCP/Min/data/Registration.java
  PCP/src/main/java/PCP/Min/data/RegistrationHack.java
  PCP/src/main/java/PCP/Min/logic/PCPMinInterpreter.java
  PCP/src/main/java/PCP/Min/logic/PCPMinLogicCore.java
  PCP/src/main/java/PCP/Min/logic/PCPMinUserInfo.java
  PCP/src/main/java/PCP/OpCode.java
  PCP/src/main/java/PCP/PCP.java
  PCP/src/main/java/PCP/PCPException.java
  PCP/src/main/java/PCP/data/IPCPData.java
  PCP/src/main/java/PCP/data/PCPVariablePayload.java
  PCP/src/main/java/PCP/logic/IMemoryAccess.java
  PCP/src/main/java/PCP/logic/IPCPCore.java
  PCP/src/main/java/PCP/logic/IPCPInterpreter.java
  PCP/src/main/java/PCP/logic/IPCPLogicCore.java
  PCP/src/main/java/PCP/logic/IPCPUserInfo.java
  PCP/src/main/java/PCP/net/IPCPChannel.java
  PCP/src/main/java/PCP/net/IPCPManager.java
  PCP/src/main/java/PCP/net/IPCPSocket.java
  PCP/src/main/java/PCP/net/IPCPmanager.java
  PCP/src/main/java/PCP/net/PCPChannel.java
  PCP/src/main/java/PCP/net/PCPManager.java
  PCP/src/main/java/PCP/services/IPCPServer.java
  PCP/src/main/java/PCP/services/PCPServer.java
  PCP/src/test/java/PCP/Min/data/PCPGroupUsersList_Test.java
  PCP/src/test/java/PCP/Min/data/PCPMsgUserToGroupPacket_Test.java
  PCP/src/test/java/PCP/Min/data/PCPMsgUserToUserPacket_Test.java
  PCP/src/test/java/PCP/logic/PCPMinInterpreter_Test.java
  PCP/src/test/java/PCP/net/PCPManager_Test.java
  PCP/src/test/java/PCP/net/ServerChannels_Test.java
  PCP/src/test/java/PCP/services/Server_Test.java
Labels: PCP-Min, api, documentation, release, server

#54 Update README.md
  docs/README.md
  docs/usage.md
Labels: bug, documentation

#55 Feature PCPMinInterpreter
  PCP/src/main/java/PCP/Min/data/MsgUserToUser.java
  PCP/src/main/java/PCP/Min/logic/PCPMinInterpreter.java
  PCP/src/main/java/PCP/PCPException.java
  PCP/src/main/java/PCP/data/PCPVariablePayload.java
  PCP/src/test/java/PCP/logic/PCPMinInterpreter_Test.java
Labels: PCP-Min, api, client, server

#57 Added IDisposable, implemented safe resources disposing
  PCP/src/main/java/PCP/IDisposable.java
  PCP/src/main/java/PCP/Min/logic/PCPMinLogicCore.java
  PCP/src/main/java/PCP/PCPException.java
  PCP/src/main/java/PCP/logic/IPCPLogicCore.java
  PCP/src/main/java/PCP/net/IPCPManager.java
  PCP/src/main/java/PCP/net/PCPManager.java
  PCP/src/main/java/PCP/services/PCPServer.java
  PCP/src/test/java/PCP/services/Server_Test.java
Labels: PCP-Min, bug, server

#64 Update PCP-Min.md
  docs/PCP-Min.md
Labels: PCP-Min, documentation
