Repository JacopoWolf/PotatoChatProtocol, pull requests merged in 2019-12, with the labels that each got.

#65 Update usage.md
  docs/usage.md
Labels: documentation

#70 Added logger for PCPMinCore and toString() method to PCPMinUserInfo
  PCP/src/main/java/PCP/Min/logic/PCPMinCore.java
  PCP/src/main/java/PCP/Min/logic/PCPMinUserInfo.java
Labels: PCP-Min, server

#71 Update PCP-Min.md
  docs/PCP-Min.md
Labels: documentation

#72 Fixed bug relative to inconsistent data reading
  PCP/src/main/java/PCP/net/IPCPChannel.java
  PCP/src/main/java/PCP/net/PCPChannel.java
  PCP/src/main/java/PCP/net/PCPManager.java
  PCP/src/main/java/PCP/services/PCPServer.java
  PCP/src/test/java/PCP/services/Server_Test.java
Labels: PCP-Min, bug, server

#73 Bugfix min broadcast
  PCP/src/main/java/PCP/Min/logic/PCPMinCore.java
Labels: PCP-Min, bug, server

#78 Bugfix min #75
  PCP/src/main/java/PCP/Min/logic/PCPMinCore.java
  PCP/src/main/java/PCP/Min/logic/PCPMinLogicCore.java
  PCP/src/test/java/PCP/services/Server_Test.java
Labels: PCP-Min, api, bug, server

#80 Feature min #76
  PCP/src/main/java/PCP/Min/logic/PCPMinCore.java
  PCP/src/main/java/PCP/Min/logic/PCPMinLogicCore.java
  PCP/src/main/java/PCP/Min/logic/PCPMinUserInfo.java
  PCP/src/main/java/PCP/PCP.java
  PCP/src/main/java/PCP/logic/IPCPCore.java
  PCP/src/main/java/PCP/logic/IPCPLogicCore.java
  PCP/src/main/java/PCP/logic/IPCPUserInfo.java
  PCP/src/main/java/PCP/net/IPCPManager.java
  PCP/src/main/java/PCP/net/PCPManager.java
  PCP/src/main/java/PCP/services/PCPServer.java
  PCP/src/test/java/PCP/Min/logic/PCPMinLogicCore_Test.java
  PCP/src/test/java/PCP/services/Server_Test.java
Labels: PCP-Min, api, bug, server, testing

#83 possibly fixed bug
  PCP/src/main/java/PCP/Min/logic/PCPMinCore.java
  PCP/src/main/java/PCP/Min/logic/PCPMinLogicCore.java
  PCP/src/main/java/PCP/net/PCPManager.java
  PCP/src/test/java/PCP/logic/PCPMinInterpreter_Test.java
  PCP/src/test/java/PCP/services/Server_Test.java
Labels: PCP-Min, bug, release, server

#87 Merge for vMin.1.0
  PCP/pom.xml
  PCP/src/main/java/PCP/Min/logic/PCPMinCore.java
  PCP/src/main/java/PCP/Min/logic/PCPMinInterpreter.java
  PCP/src/main/java/PCP/Min/logic/PCPMinLogicCore.java
  PCP/src/main/java/PCP/Min/logic/PCPMinUserInfo.java
  PCP/src/main/java/PCP/PCP.java
  PCP/src/main/java/PCP/logic/IPCPCore.java
  PCP/src/main/java/PCP/logic/IPCPLogicCore.java
  PCP/src/main/java/PCP/logic/IPCPUserInfo.java
  PCP/src/main/java/PCP/net/IPCPChannel.java
  PCP/src/main/java/PCP/net/IPCPManager.java
  PCP/src/main/java/PCP/net/PCPChannel.java
  PCP/src/main/java/PCP/net/PCPManager.java
  PCP/src/main/java/PCP/services/PCPServer.java
  PCP/src/test/java/PCP/Min/logic/PCPMinLogicCore_Test.java
  PCP/src/test/java/PCP/logic/PCPMinInterpreter_Test.java
  PCP/src/test/java/PCP/services/Server_Test.java
Labels: PCP-Min, api, release, server

#91 Update documentation
  docs/img/project-canvas.pdf
  docs/img/server-architecture.svg
  docs/img/server_architecture.mmd
  docs/img/server_mainClasses.mmd
  docs/img/server_mainClasses.svg
  docs/process/srs.md
  docs/process/visionstatement.md
  docs/product/architecture.md
  docs/product/index.md
  docs/product/usageguide.md
Labels: documentation
